<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysj.myBlog.dao.BlogDao">

	<resultMap type="Blog" id="BlogResult">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="summary" column="summary"/>
		<result property="releaseDate" column="releaseDate"/>
		<result property="clickHit" column="clickHit"/>
		<result property="replyHit" column="replyHit"/>
		<result property="content" column="content"/>
		<result property="keyWord" column="keyWord"/>
		
		<!-- 主外键的映射,Blog对象的blogType对应数据库里的typeId, 关联BlogType的主键 -->
		<association property="blogType" column="typeId" select="com.ysj.myBlog.dao.BlogTypeDao.findById"></association>
	</resultMap>
	
	<select id="blogTypesAndCountsByDate" resultMap="BlogResult">
		SELECT DATE_FORMAT(releaseDate,'%Y年%m月') AS releaseDateStr,COUNT(*) AS blogCount
		FROM t_blog 
		GROUP BY DATE_FORMAT(releaseDate,'%Y年%m月') 
		ORDER BY  DATE_FORMAT(releaseDate,'%Y年%m月') DESC;
	</select>
	
	<select id="list" parameterType="Map" resultMap="BlogResult">
		select * from t_blog
		<where>
			<if test="title!=null"> <!-- 后台页面博客列表查询支持title的模糊查询 -->
				and title like #{title}
			</if>
			<if test="typeId!=null and typeId!='' "> <!-- 主页侧边栏按文章类型查询点击类型传的是typeId -->
				and typeId=#{typeId}
			</if>
			<if test="releaseDateStr!=null and releaseDateStr!='' "><!-- 主页侧边栏按文章发布时间查询点击类型传的是格式化好的日期(XXXX年XX月) -->
				and DATE_FORMAT(releaseDate,'%Y年%m月')=#{releaseDateStr}
			</if>
		</where>
		order by releaseDate desc
		<if test="start!=null and size!=null"><!-- 分页 -->
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_blog
		<where>
			<if test="title!=null"> 
				and title like #{title}
			</if>
			<if test="typeId!=null and typeId!='' ">
				and typeId=#{typeId}
			</if>
			<if test="releaseDateStr!=null and releaseDateStr!='' ">
				and DATE_FORMAT(releaseDate,'%Y年%m月')=#{releaseDateStr}
			</if>
		</where>
	</select>
	
	<select id="findById" parameterType="Integer" resultMap="BlogResult">
		select * from t_blog where id=#{id}
	</select>
	
	<update id="update" parameterType="Blog">
		update t_blog
		<set>
			<if test="title!=null and title!=''">
				title=#{title},
			</if>
			<if test="summary!=null and summary!=''">
				summary=#{summary},
			</if>
			<if test="content!=null and content!=''">
				content=#{content},
			</if>
			<!-- 支持级联。blogType也是对象 -->
			<if test="blogType.id!=null">
				typeId=#{blogType.id},
			</if>
			<if test="clickHit!=null">
				clickHit=#{clickHit},
			</if>
			<if test="replyHit!=null">
				replyHit=#{replyHit},
			</if>
			<if test="keyWord!=null and keyWord!=''">
				keyWord=#{keyWord},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 小于号不能直接在xml中直接中所以换成&lt -->
	<select id="getLastBlog" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id&lt;#{id} ORDER BY id DESC LIMIT 1;
	</select>
	
	<select id="getNextBlog" parameterType="Integer" resultMap="BlogResult">
		SELECT * FROM t_blog WHERE id&gt;#{id} ORDER BY id ASC LIMIT 1;
	</select>
	
	<!-- 配置useGeneratedKeys="true" keyProperty="id", 可返回插入记录后的id，后面可用于建索引的时候用，前台lucene搜索后需显示博客链接，需要改博客的id -->
	<insert id="add" parameterType="Blog" useGeneratedKeys="true" keyProperty="id">
		insert into t_blog(id,title,summary,releaseDate,clickHit,replyHit,content,typeId,keyWord) 
		values(null,#{title},#{summary},now(),0,0,#{content},#{blogType.id},#{keyWord})
	</insert>
	
	<delete id="delete" parameterType="Integer">
		delete from t_blog where id=#{id}
	</delete>
	
	<select id="getBlogByTypeId" parameterType="Integer" resultType="Integer">
		select count(*) from t_blog where typeId=#{typeId}
	</select>
	
</mapper> 