<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysj.myblog.dao.BlogTypeDao">

	<resultMap type="BlogType" id="BlogTypeResult">
		<result property="id" column="id"/>
		<result property="typeName" column="type_name"/>
		<result property="orderNo" column="order_no"/>
	</resultMap>
	
	
	<!-- 注意: blogCount在BlogType类中有属性，只是没和数据库关联 -->
	<select id="blogTypesAndCounts" resultMap="BlogTypeResult">
		SELECT bt.id,bt.type_name,COUNT(b.id) AS blogCount
		FROM t_blog b RIGHT JOIN t_blogtype bt 
		ON b.type_id=bt.id
		GROUP BY bt.type_name
		ORDER BY bt.order_no;
	</select>	
	
	<select id="findById" parameterType="Integer" resultMap="BlogTypeResult">
		select * from t_blogtype where id=#{id}
	</select>
	
	<select id="list" parameterType="Map" resultMap="BlogTypeResult">
		select * from t_blogtype
		order by order_no
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>

	<!-- 参数为Map留给以后做扩展 -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_blogtype
	</select>
	
	<insert id="add" parameterType="BlogType">
		insert into t_blogtype(id,type_name,order_no)
		values(null,#{typeName},#{orderNo});
	</insert>
	
	<update id="update" parameterType="BlogType">
		update t_blogtype
		<set>
			<if test="typeName!=null and typeName!=''">
				type_name=#{typeName},
			</if>
			<if test="orderNo!=null">
				order_no=#{orderNo},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from t_blogtype where id=#{id}
	</delete>
	
</mapper> 