<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysj.myblog.dao.LinkDao">

	<resultMap type="Link" id="LinkResult">
		<result property="id" column="id"/>
		<result property="linkName" column="link_name"/>
		<result property="linkUrl" column="link_url"/>
		<result property="orderNo" column="order_no"/>
	</resultMap>
	
	<select id="list" parameterType="Map" resultMap="LinkResult">
		select * from t_link 
		order by order_no
		<if test="start!=null and size!=null"><!-- 分页 -->
			limit #{start},#{size}
		</if>
	</select>

	<!-- 这里参数为Map留给以后做扩展 -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_link
	</select>
	
	<insert id="add" parameterType="BlogType">
		insert into t_link(id,link_name,link_url,order_no)
		values(null,#{linkName},#{linkUrl},#{orderNo});
	</insert>
	
	<update id="update" parameterType="BlogType">
		update t_link
		<set>
			<if test="linkName!=null and linkName!=''">
				link_name=#{linkName},
			</if>
			<if test="linkUrl!=null and linkUrl!=''">
				link_url=#{linkUrl},
			</if>
			<if test="orderNo!=null">
				order_no=#{orderNo},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from t_link where id=#{id}
	</delete>
	
</mapper> 